Repository habiliai/genkit, changes with the labels that .github/labeler.yml gives for each.
All labels: root, docs, go, python, js, tooling, config, sample, dotprompt, handlebarz

fix(py): errors reported by mypy static type checker
  .github/workflows/python.yml
  captainhook.json
  py/bin/sanitize_schema_types.py
  py/packages/genkit/src/genkit/core/action_test.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/veneer/__init__.py
Labels: root, python, config

feat(py): asynchronous reflection api coroutine server #2020
  README.md
  genkit-tools/cli/src/commands/start.ts
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/manager/types.ts
  genkit-tools/common/src/utils/utils.ts
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/core/plugin_abc.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/core/web.py
  py/packages/genkit/src/genkit/veneer/server.py
  py/packages/genkit/src/genkit/veneer/server_test.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/pyproject.toml
  py/samples/hello/src/hello.py
  py/uv.lock
Labels: root, docs, python, js, tooling, config

feat(js/genkit-tools/cli): add working directory option
  genkit-tools/cli/src/commands/eval-run.ts
  genkit-tools/cli/src/commands/start.ts
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/manager/types.ts
  genkit-tools/common/src/utils/utils.ts
Labels: js, tooling

feat: aio
  py/packages/genkit/src/genkit/core/aio2.py
  py/packages/genkit/tests/genkit/core/aio2_test.py
Labels: python

refactor(py): add maxsize to aio.py's Channel implementation
  py/packages/genkit/src/genkit/core/aio.py
  py/packages/genkit/src/genkit/core/codec.py
  py/packages/genkit/src/genkit/veneer/plugin.py
Labels: python

feat(py/vertexai): Enhance VertexAI plugin
  py/packages/genkit/src/genkit/ai/embedding.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/embedding.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/plugins/vertex-ai/tests/test_embeddings.py
  py/plugins/vertex-ai/tests/test_gemini.py
  py/plugins/vertex-ai/tests/test_imagen.py
  py/samples/hello/README.md
  py/samples/hello/src/hello.py
  py/samples/vertex-ai-imagen/README.md
  py/samples/vertex-ai-imagen/src/vertex-ai-imagen.py
Labels: docs, python

feat(py): Python GoogleAi plugin
  py/plugins/google-ai/src/genkit/plugins/google_ai/__init__.py
  py/plugins/google-ai/src/genkit/plugins/google_ai/google_ai.py
  py/plugins/google-ai/src/genkit/plugins/google_ai/models/gemini.py
  py/plugins/google-ai/src/genkit/plugins/google_ai/schemas.py
  py/samples/google-ai/LICENSE
  py/samples/google-ai/README.md
  py/samples/google-ai/pyproject.toml
  py/samples/google-ai/src/hello.py
Labels: docs, python, config

[Go] fix for generating with output schema and tools
  go/ai/generate.go
Labels: go

feat(go): support for MCP to register mcp servers as tools
  go/go.mod
  go/go.sum
  go/plugins/mcp/conv.go
  go/plugins/mcp/tool.go
  go/plugins/mcp/tool_test.go
Labels: go

fix(go): support multi-part tool requests
  go/ai/generate.go
Labels: go

feat: support constrained json mode by OpenAI
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate_live_test.go
Labels: go

feat: add support gpt-5
  go/plugins/compat_oai/openai/openai.go
Labels: go

chore: add comment
  go/ai/generate.go
Labels: go

feat: support constrained json mode by OpenAI
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate_live_test.go
Labels: go

chore: add comment
  go/ai/generate.go
Labels: go

feat: add support gpt-5
  go/plugins/compat_oai/openai/openai.go
Labels: go

.github/labeler.yml:

# Copyright 2025 Google LLC
# SPDX-License-Identifier: Apache-2.0

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
  - changed-files:
      - any-glob-to-any-file: '*'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.rst'
          - 'LICENSE'
          - 'docs-go/**'
          - 'docs/**'
          - 'py/engdocs/**'

go:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.go'
          - '**/go.mod'
          - '**/go.sum'
          - 'go/**'

python:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.py'
          - '**/pyproject.toml'
          - 'py/**'

js:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.js'
          - '**/*.jsx'
          - '**/*.ts'
          - '**/*.tsx'
          - '**/package.json'
          - 'js/**'

tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'genkit-tools/**'

config:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.toml'
          - '**/*.yaml'
          - '**/*.yml'
          - '**/.editorconfig'
          - '**/.github/**'
          - '**/.gitignore'
          - '**/.npmignore'
          - '**/.npmrc'
          - '**/.prettierignore'
          - '**/package.json'
          - '**/tsconfig.*.json'
          - '**/tsconfig.json'
          - '**/typedoc.json'

sample:
  - changed-files:
      - any-glob-to-any-file:
          - 'samples/**'

dotprompt:
  - changed-files:
      - any-glob-to-any-file:
          - '**/dotprompt/**'

handlebarz:
  - changed-files:
      - any-glob-to-any-file:
          - '**/handlebarz/**'

# Automatically add labels to any PR also based on branch naming conventions.
build:
  - head-branch: [^.*/build/.*, build]

chore:
  - head-branch: [^.*/chore/.*, chore]

ci:
  - head-branch: [^.*/ci/.*, ci]

feature:
  - head-branch: [^.*/feat/.*, feature]

fix:
  - head-branch: [^.*/fix/.*, fix]

perf:
  - head-branch: [^.*/perf/.*, perf]

refactor:
  - head-branch: [^.*/refactor/.*, refactor]

style:
  - head-branch: [^.*/style/.*, style]

test:
  - head-branch: [^.*/test/.*, test]
